configure
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
lib/Makefile.in
src/config.in
autom4te.cache
makefile
*~
/README.W32
/bin/
/site-lisp/
src/*.o
Makefile
config.log
config.status
leim/changed.misc
leim/changed.tit
lib-src/*.o
lib-src/ctags
lib-src/ebrowse
lib-src/emacsclient
lib-src/etags
lib-src/hexl
lib-src/make-docfile
lib-src/movemail
lib-src/profile
lib-src/test-distrib
lib-src/update-game-score
lib/*.o
lib/*.a
lib/.deps/
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/inttypes.h
lib/stdalign.h
lib/stdio.h
lib/stdlib.h
lib/time.h
lib/timespec-add.o
lib/unistd.h
lib/warn-on-use.h
lib/fcntl.h
lib/signal.h
lib/sys/
src/bootstrap-emacs
src/deps/
src/emacs
src/emacs-*
src/gl-stamp
src/globals.h
src/stamp-h1
src/stamp-oldxmenu
src/temacs
gmon.out
